.order-data {
  margin: 0 auto;
  &__title {
    padding-bottom: 20px;
    text-align: center;
  }
  &__text {
    font-size: 22px;
    padding: 20px;
    border-bottom: 1px solid $border;
    span {
      font-weight: 500;
    }
    @include sm {
      font-size: 18px;
    }
  }
  &__link {
    color: $white;
    padding: 10px 0;
  }
}
