.order-date {
  position: relative;
  &__title {
    padding-bottom: 20px;
  }
  &__input-container {
    padding: 20px 0;
  }
  &__btns {
    padding-top: 20px;
    @include sm {
      flex-direction: column;
    }
  }
}
